.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: 0;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    gap: 100px;
    border-radius: 5px;
    background-color: rgba(116,73,39,255);
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
}
.link {
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.navbar a:hover {
    color: brown;
}

.navbar-logo {
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.navbar-logo:hover {
    transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}